
//color
$bgGray:#cdcdcd;
$bgBlue:#cdb;
$orageColor:#f28416;
$greenBlue:#16cdcf;
$wriColor:#ffffff;
$greenColor:#7cb023;
$redColor:red;
$lightGray:#eeeeee;
$darkGray:#8a8885;
$lightOrg:#eeb683;
$lightGreen:#89b143;
$yellOrgColor:#ffd986;
$darkYellow:#e8be74;

//common

